{% extends 'table_base.html' %}

{% set title = "Files" %}
{% set route = 'list_files' %}
{% set columns = {
    'id': 'ID',
    'name': 'Name',
    'status': 'Status',
    'platform': 'Platform',
    'received_at': 'Received at',
    'processing_started_at': 'Processing started at',
    'processing_finished_at': 'Processing finished at',
    'malware_detected': 'Malware detected',
    'created_at': 'Created at'
} %}
{% set data = files %}
{% set sort_by = sort_by %}
{% set order = order %}

{% block content %}
    {{ super() }}
{% endblock %}
