{% extends 'base.html' %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                {% for column, column_name in columns.items() %}
                    {% if sort_by == column %}
                        {% set new_order = "desc" if order == "asc" else "asc" %}
                    {% else %}
                        {% set new_order = "asc" %}
                    {% endif %}
                    <th>
                        <a href="{{ url_for(route, sort_by=column, order=new_order) }}" class="{{ 'underline' if sort_by == column else '' }}">
                            {{ column_name }}
                        </a>
                    </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    {% for column in columns.keys() %}
                        <td>{{ item[column] }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
